:root{
  --primary-color :  #FFF5F0;
  ;
}
*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.txt-color{
  color: var(--primary-color) !important;
}
.bg-color{
  background-color: var(--primary-color) !important;
}
h1,h2,h3,h4{
  color:rgba(51, 51, 51, 1) !important;
}
.pStyle{
  font-size: 15px;
  color:rgba(51, 51, 51, 1);
}